a {
  color: #5e2ca5;
}

.fade-3seconds {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.fade-3seconds.fadeInTrigger {
  opacity: 1;
}

.fade-3seconds.fadeOutTrigger {
  opacity: 0;
}

.bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}

.bar:nth-child(2) {
  width: 20px;
}

.mobile-menu.toggle-menu .bar {
  background-color: #ffffff;
}

.mobile-menu.toggle-menu .bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}

.mobile-menu.toggle-menu .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.mobile-menu.toggle-menu .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Form accessibility */

[data-required='true']:after,
.required-legend:before {
  content: ' * ';
  font-size: 1.4em;
  vertical-align: sub;
  color: #ff4136;
}

/* Embedded form fix */

.embed-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.embedded-content {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}
